<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.teiid.translator" slot="api">


    <dependencies>
        <module name="org.jboss.teiid.translator.jdbc" export="true" />
        <module name="org.jboss.teiid.translator.file" export="true" />
        <module name="org.jboss.teiid.translator.ldap" export="true" />
        <module name="org.jboss.teiid.translator.loopback" export="true" />
        <module name="org.jboss.teiid.translator.olap" export="true" />
        <module name="org.jboss.teiid.translator.ws" export="true" />
        <module name="org.jboss.teiid.translator.salesforce" export="true" />
        <module name="org.jboss.teiid.translator.salesforce" slot="34" export="true" />
        <module name="org.jboss.teiid.translator.hive" export="true" />
        <module name="org.jboss.teiid.translator.object" export="true" />
        <module name="org.jboss.teiid.translator.google" export="true" />
        <module name="org.jboss.teiid.translator.odata" export="true" />
        <module name="org.jboss.teiid.translator.odata" export="true" />
        <module name="org.jboss.teiid.translator.odata" export="true" />
        <module name="org.jboss.teiid.translator.mongodb" export="true" />
        <module name="org.jboss.teiid.translator.cassandra" export="true" />
        <module name="org.jboss.teiid.translator.accumulo" export="true" />
        <module name="org.jboss.teiid.translator.solr" export="true" />
        <module name="org.jboss.teiid.translator.excel" export="true" />
        <module name="org.jboss.teiid.translator.hive" export="true" />
        <module name="org.jboss.teiid.translator.prestodb" export="true" />
        <module name="org.jboss.teiid.translator.hbase" export="true" />
        <module name="org.jboss.teiid.translator.odata4" export="true" />
        <module name="org.jboss.teiid.translator.jpa" export="true" />
        <module name="org.jboss.teiid.translator.simpledb" export="true" />
        <module name="org.jboss.teiid.translator.swagger" export="true" />
    </dependencies>

</module>
