<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.teiid.resource-adapter" slot="api">

    <dependencies>
        <module name="org.jboss.teiid.resource-adapter.file" export="true" />
        <module name="org.jboss.teiid.resource-adapter.google" export="true" />
        <module name="org.jboss.teiid.resource-adapter.ldap" export="true" />
        <module name="org.jboss.teiid.resource-adapter.salesforce" export="true" />
        <module name="org.jboss.teiid.resource-adapter.webservice" export="true" />
        <module name="org.jboss.teiid.resource-adapter.mongodb" export="true" />
        <module name="org.jboss.teiid.resource-adapter.cassandra" export="true" />
        <module name="org.jboss.teiid.resource-adapter.simpledb" export="true" />
        <module name="org.jboss.teiid.resource-adapter.accumulo" export="true" />
        <module name="org.jboss.teiid.resource-adapter.solr" export="true" />
    </dependencies>

</module>
